<%= form_with(model: @buffet) do |f| %>
  <% if flash[:buffet_errors] %>
    <%= render "shared/registration/error_messages", resource: @buffet %>
  <% end %>
  <div class="bg-white rounded-xl p-4 w-1/3 mx-auto mt-8">
    <%= render('shared/form/go_back', path: buffets_path) %>
    <h1 class="text-sm leading-normal font-bold uppercase mb-2 text-center">Editando informações do buffet</h1>
    <div class="p-3">
      <%= render 'form', f: f %>
    </div>
  </div>
<% end %>