<h1>Meu Buffet</h1>

<% if @buffet %>
  <h3><%= link_to 'Editar informações', edit_buffet_path(current_user.buffet) %>
  <h3><%= link_to 'Eventos do buffet', events_path %>
  <h3><%= link_to 'Criar novo evento', new_event_path %>
  <div>
    <%= render 'buffet' %>
<% else %>
  <div>
    <p>Você não tem um buffet cadastrado! Você será redirecionado em breve...</p>
  </div>
<% end %>