<%= form_with(model: @buffet) do |f| %>
  <div class="bg-white rounded-xl p-4 w-1/3 mx-auto mt-8">
    <h1 class="text-sm leading-normal font-bold uppercase mb-2">Criando novo buffet</h1>
    <div class="p-3">
      <%= render 'form', f: f %>
    </div>
  </div>
<% end %>