<%= render('buffet') %>

<% if @buffet.events.present? %>
  <% @buffet.events.each do |event| %>
    <%= render 'event', event: event %>
  <% end %>
<% else %>
  <p>Esse buffet não tem eventos registrados.</p>
<% end %>