<div class="flex flex-col">
  <div class="flex flex-row justify-between gap-8 mt-8">
    <%= render 'buffet_about', buffet: @buffet %>
    <%= render 'shared/buffet/info', buffet: @buffet %>
  </div>

  <% if @buffet.events.present? %>
    <p class="text-sm leading-normal font-bold uppercase my-8 text-center">Eventos do buffet</p>
    <div class="flex flex-col">
      <% @buffet.events.each do |event| %>
        <div class="flex flex-row gap-x-8 mb-12 justify-center">
          <%= render 'shared/event/card', event: event %>
          <div class="w-1/2">
            <%= render 'shared/event/info', event: event %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>