<p class="text-2xl mt-4 mb-6 font-semibold">Eventos do meu buffet</p>
<% if @events.empty? %>
<p>Seu buffet ainda não tem nenhum evento.</p>
<% else %>
  <div id="events" class="flex flex-wrap gap-x-16">
    <% @events.each do |event| %>
      <%= render 'card', event: event %>
    <% end %>
  </div>
<% end %>