<% if !@event.event_price.present? %>
<div class="w-full text-center pt-8 lg:px-8">
  <div class="p-2 bg-red-400 items-center text-white leading-none lg:rounded-full flex lg:inline-flex">
    <span class="px-1 py-1"><svg class="fill-current h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></span>
    <span class="font-semibold mr-2 text-left flex-auto">Esse evento não possui preços definidos, portanto não pode ser contratado!</span>
  </div>
</div>
<% end %>

<div class="flex flex-row gap-x-8 mt-8">
  <div class="w-1/2">
    <%= render('shared/event/about', event: @event) %>
  </div>
  <div class="flex flex-col w-1/2 gap-y-4">
    <%= render('shared/event/info', event: @event) %>
    <%= render('prices', event: @event) %>
  </div>
</div>