<div class="flex flex-row justify-between mt-8">
  <div class="mx-auto">
  <%= render('user-about', user: current_user) %>
  </div>
  <div class="flex flex-col w-1/2 items-center gap-y-8">
    <%= render('user-info', user: current_user) %>
    <% if current_user.buffet.present? %>
      <p class="w-1/2 border border-gray-300"></p>
      <%= render('shared/buffet/info', buffet: current_user.buffet)%>
    <% end %>
  </div>
</div>