<div id="viewing-user" class="p-8 gap-y-8 flex flex-col">
  <%= render('user-about', user: @user) %>

  <% if @user.buffet.present? %>
    <%= render('shared/buffet/info', buffet: @user.buffet) %>
  <% end %>
</div>