<div class="mb-3 space-y-2 w-full text-xs">
  <%= form.label attribute, :class => 'font-semibold text-gray-600 py-2' %> <% if required %><abbr class="text-red-500" title="Campo obrigatório">*</abbr><% end %>
  <%= form.number_field attribute, :class => 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4', :placeholder => placeholder %>
</div>